.hh1{
    color: green;
    font-size: 15px;
}
.hh2{
    color: red;
    font-size: 22px;
}
span
{
    color: purple;
}
.span1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.span2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.div1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin-top: 10px;
}
.div2{
    width: 400px;
    height: 200px;
    background-color: burlywood;
    margin-top: 20px;
}
.div3{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    margin-top: 20px;
    border-radius: 50%;
}