.hh1{
    color: green;
    font-size: 15px;
}
.hh2{
    color: red;
    font-size: 22px;
}
span
{
    color: purple;
}
.span1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.span2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.div1{
    width: 200px;
    height: 200px;
    background-color: green;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}
.div3{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 254, 254);
}
.divM1{
    display: flex;
    flex-direction: row;
}
.divM2{

    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}
.divM3{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.divM4{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
}

.titre{
    text-align: center;
    color: springgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}