h3{
        padding: 0;
        margin: 3px;
        color: rgb(255, 0, 13);
        font-weight: 100;
}
h1{
    color: blueviolet;
    font-size: 60px;
}
h2{
    color: yellowgreen;
    font-weight: bold;
    font-size: xx-large;
}
p
{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(76, 199, 0);
}